[submodule "client"]
    path = client
    url = https://github.com/Asifdecoder/data-visualiser-frontend

[submodule "server"]
    path = server
    url = https://github.com/Asifdecoder/data-visualiser-backend
